html,body,#map_div{
	width:100%;
	height:100%;
	overflow:auto;
	position:relative;
	margin:0;
	background:#333333;
}
.playB{
	top: 125px;
	left: .5em;
}
.controlB{
	top: 85px;
	left: .5em;
}
.popup{
	background:#333333;
	color:lightgreen;
	border:3px solid;
	border-radius:10px;
	position:absolute;
	text-align:center;

}
.info_div{
	position="absolute";
	top="0px";
	width="100%";
}



